bcrypt==4.0.1                              # Security for hashing passwords
blinker==1.6.2                             # Used by Flask for signal support
cffi==1.16.0                               # Provides a back-end for cryptography packages
click==8.1.7                               # Command line interface creation kit, used by Flask
cryptography==41.0.5                       # Cryptographic recipes and primitives for Python
dnspython==2.4.2                           # DNS toolkit for Python
email-validator==2.0.0.post2               # Validates emails efficiently
Flask==2.3.3                               # Lightweight WSGI web application framework
Flask-Bcrypt==1.0.1                        # Flask extension for Bcrypt hashing
Flask-Login==0.6.2                         # Manages user session in Flask
Flask-Mail==0.9.1                          # Handles email sending in Flask
Flask-SQLAlchemy==3.0.5                    # Adds SQLAlchemy support to Flask applications
Flask-WTF==1.1.1                           # Integrates WTForms for form handling with Flask
greenlet==2.0.2                            # Lightweight in-process concurrent programming
idna==3.4                                  # IDNA handling capabilities
importlib-metadata==6.8.0                  # Read metadata from Python packages
itsdangerous==2.1.2                        # Security issues, such as creating tokens
Jinja2==3.1.2                              # Templating engine for Python
MarkupSafe==2.1.3                          # Escapes characters so text is safe to use in HTML
mysql-connector-python==8.2.0              # Database driver for connecting to MySQL
mysqlclient==2.2.0                         # Interface for connecting to a MySQL database using Python
protobuf==4.21.12                          # Google's data interchange format
pycparser==2.21                            # C parser in Python, used by cffi
SQLAlchemy==2.0.20                         # The Python SQL Toolkit and ORM
typing_extensions==4.7.1                   # Backports of advancements in the `typing` module
Werkzeug==2.3.7                            # Comprehensive WSGI web application library
WTForms==3.0.1                             # Form handling library for Python
zipp==3.16.2                               # Library to interact with zip archives
