{% extends 'layout.html' %}
{% block content %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <div class="pb-3">
      <h1>Admin Section</h1>
    </div>

      <!-- Admin-specific content goes here -->
    <ul class="nav">
        <li class="active"><a data-toggle="tab" href="#addemployer" class="btn btn-outline-info border">Add Employer</a></li>
        <li><a data-toggle="tab" href="#addrelation" class="btn btn-outline-info border">Add Relation</a></li>
        <li><a data-toggle="tab" href="#editemployer" class="btn btn-outline-info border">Edit Employer</a></li>
    </ul>

    <div class="tab-content">
      <div id="addemployer" class="tab-pane active">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <form method="POST" action="{{ url_for('add_employer') }}">
                {{ new_employer_form.hidden_tag() }}
                <legend class="border-bottom mb-4">Add Employer</legend>
                <div class="form-group">
                    {{ new_employer_form.employer_name.label(class="form-control-label") }}
                    {% if new_employer_form.employer_name.errors %}
                        {{ new_employer_form.employer_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in new_employer_form.employer_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ new_employer_form.employer_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ new_employer_form.headquarters_address.label(class="form-control-label") }}
                    {{ new_employer_form.headquarters_address(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ new_employer_form.description.label(class="form-control-label") }}
                    {{ new_employer_form.description(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ new_employer_form.start_date.label(class="form-control-label") }}
                    {% if new_employer_form.start_date.errors %}
                        {{ new_employer_form.start_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in new_employer_form.start_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ new_employer_form.start_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ new_employer_form.end_date.label(class="form-control-label") }}
                    {{ new_employer_form.end_date(class="form-control form-control-lg") }}
                </div>

                <div class="form-group mt-3 mb-3">
                    {{ new_employer_form.submit(class="btn btn-outline-info border rounded") }}
                </div>
            </form>
        </div>
      </div>
      <div id="addrelation" class="tab-pane">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <form method="POST" action="{{ url_for('add_relation') }}">
                {{ relation_form.hidden_tag() }}
                <legend class="border-bottom mb-4">Add Relation</legend>
                <div class="form-group">
                    {{ relation_form.parent_name.label(class="form-control-label") }}
                    {{ relation_form.parent_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ relation_form.child_name.label(class="form-control-label") }}
                    {{ relation_form.child_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group mt-3 mb-3">
                    {{ relation_form.submit(class="btn btn-outline-info border rounded") }}
                </div>
            </form>
        </div>
      </div>
    <div id="editemployer" class="tab-pane">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <form method="POST" action="{{ url_for('edit_employer') }}">
                {{ edit_employer_form.hidden_tag() }}
                <legend class="border-bottom mb-4">Edit Employer</legend>

                <div class="form-group">
                    {{ edit_employer_form.employer_name.label(class="form-control-label") }}
                    {% if edit_employer_form.employer_name.errors %}
                        {{ edit_employer_form.employer_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in edit_employer_form.employer_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ edit_employer_form.employer_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ edit_employer_form.headquarters_address.label(class="form-control-label") }}
                    {{ edit_employer_form.headquarters_address(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ edit_employer_form.description.label(class="form-control-label") }}
                    {{ edit_employer_form.description(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ edit_employer_form.start_date.label(class="form-control-label") }}
                    {{ edit_employer_form.start_date(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ edit_employer_form.end_date.label(class="form-control-label") }}
                    {{ edit_employer_form.end_date(class="form-control form-control-lg") }}
                </div>

                <div class="form-group mt-3 mb-3">
                    {{ edit_employer_form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}