{% extends 'layout.html' %}
{% block content %}
    <div class="pb-3">
      <h1>Admin Section</h1>
    </div>
      <!-- Admin-specific content goes here -->

      <!-- New Employer Form -->
      <div class="container overflow-hidden">
      <div class="row gx-5">
      <div class="col-md-6">
      <div class="border shadow p-3 mb-5 bg-white rounded">
      <form method="POST" action="{{ url_for('add_employer') }}">
        {{ new_employer_form.hidden_tag() }}
        <legend class="border-bottom mb-4">Add Employer</legend>

        <div class="form-group">
        {{ new_employer_form.employer_name.label(class="form-control-label") }}
        {{ new_employer_form.employer_name(class="form-control form-control-lg") }}
        </div>

        <div class="form-group">
        {{ new_employer_form.headquarters_address.label(class="form-control-label") }}
        {{ new_employer_form.headquarters_address(class="form-control form-control-lg") }}
        </div>

        <div class="form-group mt-3 mb-3">
        {{ new_employer_form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      </div>
      </div>
      <div class="col-md-6">
      <div class="border shadow p-3 mb-5 bg-white rounded">
      <form method="POST" action="{{ url_for('add_relation') }}">
        {{ relation_form.hidden_tag() }}
        <legend class="border-bottom mb-4">Add Relation</legend>
        <div class="form-group">
        {{ relation_form.parent_name.label(class="form-control-label") }}
        {{ relation_form.parent_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
        {{ relation_form.child_name.label(class="form-control-label") }}
        {{ relation_form.child_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group mt-3 mb-3">
        {{ relation_form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      </div>
      </div>
      </div>
      </div>
{% endblock content %}