{% extends 'layout.html' %}
{% block content %}
    <h1>Home</h1>
    <form method="POST" action="{{ url_for("visualization") }}">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4">Search</legend>
        <div class="form-group">
            {{ form.search.label(class="form-control-label") }}
            {% if form.search.errors %}
                {{ form.search(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.search(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group mt-3 mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% if current_user.admin == True %}
    <!-- This section will only be visible to users with admin privilege -->
    <div>
      <h2>Admin Section</h2>
      <!-- Admin-specific content goes here -->

      <!-- New Employer Form -->
      <form method="POST" action="{{ url_for('add_employer') }}">
        {{ new_employer_form.hidden_tag() }}
        {{ new_employer_form.employer_name.label }}
        {{ new_employer_form.employer_name }}
        {{ new_employer_form.headquarters_address.label }}
        {{ new_employer_form.headquarters_address }}
        {{ new_employer_form.submit }}
      </form>
    </div>
    {% endif %}
{% endblock content %}