{% extends 'layout.html' %}
{% block content %}
<head>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-graph.min.js"></script>
    <script src="{{ url_for('static', filename='visualization.js') }}"></script>
</head>
<body>
    <h1 class="border-bottom">Visualization</h1>
    <div class="row">
        <div class="col-lg-4" id="infoPanel" style="font-size:1.4em; overflow-y:auto; height:32em">
            <p>Select a node to view details.</p>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-center" style="height:45em">
                <div id="chart_container" class="w-100 p-3" style="background-color: #eee;"></div>
            </div>
            <script>createChart({{ data|tojson|safe }});</script>
        </div>
    </div>
</body>
{% endblock content %}